<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The HomePage <%= num %>
    </h1>
    <% if (num%2===0){ %>
        <h2 class='h2'>That is an Even Number</h2>
        <% } else { %>
            <h2 class='h2'>That is an ODD number</h2>
            <% } %>
            
            
                <!-- <p><B>Welcome to the homePage of EJS! </B></p> -->
</body>

</html>
